.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   /* background-color:  #ffffffe6; */
   background-color: #F2F2F2;


    padding: 20px;
    width: 30%;
    z-index: 1000;
    border-radius: 5px;
  }
  
  .popup-content {
    text-align: center;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 30px; 
    font-weight: bold;
  }
  